.TypesContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.TypeChild{
    margin: 5px;
    background-color:bisque;
    border-radius: 3px;
    padding: 5px;
}